<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="ace-icon fa fa-home home-icon"></i>
      <a >Bàn làm việc</a>
    </li> 
  </ul><!-- /.breadcrumb -->
</div>
  
  <div class="page-content"> 
    <div class="row">
      <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
                  <h2>Sản phẩm sắp hết</h2>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                       
                        <th scope="col">Tên sản phẩm</th>
                        <th scope="col">Xuất xứ</th>
                        <th scope="col">Giá sản phẩm</th>
                        <th scope="col">Số lượng hiện có</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let tk of saphet">
                        <th scope="row">{{tk.tensp}}</th>
                        <td>{{tk.xuatxu}}</td>
                        <td>{{tk.gia}}</td>
                        <td>{{tk.soluong}}</td>
                      </tr>
                    </tbody>
                  </table>

                  <h2>Sản phẩm tồn nhiều</h2>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                       
                        <th scope="col">Tên sản phẩm</th>
                        <th scope="col">Xuất xứ</th>
                        <th scope="col">Giá sản phẩm</th>
                        <th scope="col">Số lượng hiện có</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let tk of tonkho">
                        <th scope="row">{{tk.tensp}}</th>
                        <td>{{tk.xuatxu}}</td>
                        <td>{{tk.gia}}</td>
                        <td>{{tk.soluong}}</td>
                      </tr>
                    </tbody>
                  </table>

                  <h2>Sản phẩm đã hết</h2>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                       
                        <th scope="col">Tên sản phẩm</th>
                        <th scope="col">Xuất xứ</th>
                        <th scope="col">Giá sản phẩm</th>
                        <th scope="col">Số lượng hiện có</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let tk of het">
                        <th scope="row">{{tk.tensp}}</th>
                        <td>{{tk.xuatxu}}</td>
                        <td>{{tk.gia}}</td>
                        <td>{{tk.soluong}}</td>
                      </tr>
                    </tbody>
                  </table>
        <!-- PAGE CONTENT ENDS -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.page-content -->