<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="ace-icon fa fa-home home-icon"></i>
      <a >Bàn làm việc</a>
    </li> 
  </ul><!-- /.breadcrumb -->
</div>
  
  <div class="page-content"> 
    <div class="row">
      <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
                  Sản phẩm 
                  <table class="table">
                    <thead>
                      <tr>
                       
                        <th scope="col">Teen san pham</th>
                        <th scope="col">xuat xu</th>
                        <th scope="col">gia</th>
                        <th scope="col">so luowng</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let tk of saphet">
                        <th scope="row">{{tk.tensp}}</th>
                        <td>{{tk.xuatxu}}</td>
                        <td>{{tk.gia}}</td>
                        <td>{{tk.soluong}}</td>
                      </tr>
                    </tbody>
                  </table>
        <!-- PAGE CONTENT ENDS -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.page-content -->